.home{
    display: flex;
    .homeContainer{
        align-items: center;
        justify-content: center;
        flex: 6;
        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts{
            padding: 5px 20px;
        }
    }
}