.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    height: 200px;
    

    .left, .right{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
    }
    .title{
        font-weight: bold;
        font-size: 15px;
        color: rgb(133, 133, 133);
    }
     .counter{
        font-size: 30px;
        font-weight: 300;
     }
     .link{
        font-size: 15px;
        border-bottom: 1px solid gray;
     }
     .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;
     }
      .icon{
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
     }
}